.swup-progress-bar {
  background-color: #fff;
  background-color: var(--swup-progress-bar-color, #fff);
  height: 4px;
  height: var(--swup-progress-bar-height, 4px);
  top: 0;
  top: var(--swup-progress-bar-distance, 0);
  z-index: 102 !important;
}
.swup-transition-overlay {
  z-index: 100 !important;
}
html.lenis,
html.lenis body {
  height: auto;
}
.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}
.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
.lenis.lenis-stopped {
  overflow: hidden;
}
.lenis.lenis-smooth iframe {
  pointer-events: none;
}
.scroller {
  --scroller-arrow-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='6' fill='none' viewBox='0 0 10 6'%3E%3Cpath stroke='%23000' d='m1 5 4-4 4 4'/%3E%3C/svg%3E");
  --scroller-background-blur: none;
  --scroller-background-color: transparent;
  --scroller-background-padding-x: 10px;
  --scroller-background-padding-y: 12px;
  --scroller-background-shadow: none;
  --scroller-border-radius: 30px;
  --scroller-height: 180px;
  --scroller-thumb-border-radius: 3px;
  --scroller-thumb-color: #0d0d0d;
  --scroller-thumb-easing: ease-out;
  --scroller-thumb-speed: 0.2s;
  --scroller-track-border-radius: 3px;
  --scroller-track-color: rgba(0, 0, 0, 0.078);
  --scroller-track-right: 0;
  --scroller-transition-duration: 0.6s;
  --scroller-transition-easing: ease;
  --scroller-width: 6px;
  --scroller-z-index: 99;
  --scroller-arrow-image-hover: var(--scroller-arrow-image);
  --scroller-thumb-color-hover: var(--color--1);
  --scroller-arrow-image-inverted: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='6' fill='none' viewBox='0 0 10 6'%3E%3Cpath stroke='%23fff' d='m1 5 4-4 4 4'/%3E%3C/svg%3E");
  --scroller-thumb-color-inverted: #fff;
  --scroller-track-color-inverted: hsla(0, 0%, 100%, 0.102);
  align-items: center;
  background-color: transparent;
  border-radius: 30px;
  border-radius: var(--scroller-border-radius);
  display: none;
  flex-direction: column;
  opacity: 0;
  padding: 12px 10px;
  padding: var(--scroller-background-padding-y)
    var(--scroller-background-padding-x);
  pointer-events: none;
  position: fixed;
  right: 0;
  right: var(--scroller-track-right);
  row-gap: 10px;
  top: 50%;
  transform: translateY(-50%);
  transform-origin: center;
  transition-duration: 0.6s;
  transition-duration: var(--scroller-transition-duration);
  transition-property: opacity, visibility;
  transition-timing-function: ease;
  transition-timing-function: var(--scroller-transition-easing);
  z-index: 99;
  z-index: var(--scroller-z-index);
  &:before {
    -webkit-backdrop-filter: var(--scroller-background-blur);
    backdrop-filter: var(--scroller-background-blur);
    background-color: var(--scroller-background-color);
    border-radius: inherit;
    content: "";
    display: block;
    filter: var(--scroller-background-shadow);
    height: calc(100% - 10px);
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;
    transition-duration: var(--scroller-transition-duration);
    transition-property: opacity, height, width;
    transition-timing-function: var(--scroller-transition-easing);
    width: calc(100% - 10px);
    z-index: 0;
  }
  .scroller_arrow {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent var(--scroller-arrow-image) no-repeat center / 10px
      6px;
    border: 1px solid transparent;
    border-radius: 100%;
    box-shadow: none;
    cursor: pointer;
    display: inline-flex;
    height: 22px;
    opacity: 0;
    outline: none;
    position: relative;
    transform-origin: center;
    transition-duration: var(--scroller-transition-duration);
    transition-property: background-image, border-color, opacity;
    transition-timing-function: var(--scroller-transition-easing);
    width: 22px;
    z-index: 1;
    &.-down {
      transform: scaleY(-1);
    }
  }
  .scroller_track {
    background-color: var(--scroller-track-color);
    border-radius: var(--scroller-track-border-radius);
    cursor: pointer;
    height: var(--scroller-height);
    position: relative;
    transition-duration: var(--scroller-transition-duration);
    transition-property: background-color, top;
    transition-timing-function: var(--scroller-transition-easing);
    width: var(--scroller-width);
    z-index: 1;
  }
  .scroller_thumb {
    background-color: var(--scroller-thumb-color);
    border-radius: var(--scroller-thumb-border-radius);
    cursor: grab;
    min-height: var(--scroller-width);
    position: absolute;
    top: 0;
    transition-duration: var(--scroller-transition-duration),
      var(--scroller-transition-duration), var(--scroller-thumb-speed);
    transition-property: background-color, height, transform;
    transition-timing-function: var(--scroller-transition-easing),
      var(--scroller-transition-easing), var(--scroller-thumb-easing);
    width: 100%;
    &.no-transition {
      transition: none;
    }
  }
  &.is-inverted {
    .scroller_arrow {
      background-image: var(--scroller-arrow-image-inverted) !important;
    }
    .scroller_track {
      background-color: var(--scroller-track-color-inverted) !important;
    }
    .scroller_thumb {
      background-color: var(--scroller-thumb-color-inverted) !important;
    }
  }
  &.is-stopped {
    opacity: 0 !important;
    pointer-events: none;
    visibility: hidden;
  }
  @media (hover) {
    &:not(.is-stopped) {
      &.is-key-press,
      &:active,
      &:focus,
      &:hover {
        opacity: 1 !important;
        &:before {
          height: 100%;
          opacity: 1;
          width: 100%;
        }
        .scroller_arrow {
          background-image: var(--scroller-arrow-image-hover);
          opacity: 1;
        }
      }
      &:active .scroller_thumb,
      &:focus .scroller_thumb {
        cursor: grabbing;
      }
      &:active,
      &:focus,
      &:hover {
        .scroller_thumb {
          background-color: var(--scroller-thumb-color-hover);
        }
      }
    }
  }
}
@media (prefers-reduced-motion: no-preference) {
  &.has-loaded .scroller {
    @media (min-width: 1025px) {
      display: flex;
      pointer-events: auto;
    }
  }
  &.has-scrolled.lenis-scrolling .scroller {
    opacity: 1;
  }
  &.is-stopped-bottom .scroller .scroller_arrow.-down,
  &.is-stopped-top .scroller .scroller_arrow.-up {
    opacity: 0.2;
    pointer-events: none;
  }
}
.mf-cursor {
  contain: layout style size;
  direction: ltr;
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  transition: opacity 0.3s, color 0.4s;
  z-index: 250;
  @media (hover: none), (max-width: 1025px) {
    display: none !important;
  }
  &:before {
    background: currentColor;
    border-radius: 50%;
    content: "";
    display: block;
    height: 48px;
    left: -24px;
    opacity: 0;
    position: absolute;
    top: -24px;
    transform: scale(0.2);
    transition: transform 0.25s ease-in-out, opacity 0.1s;
    width: 48px;
  }
  &.-inverse {
    color: #fff;
  }
  &.-pointer:before {
    transform: scale(0.15);
  }
  &.-text:before {
    opacity: 0;
    transform: scale(0);
  }
  &.-text.-active:before {
    transform: scale(0);
    transition-duration: 0.2s;
  }
  &.-icon:before {
    transform: scale(1.5);
  }
  &.-icon.-active:before {
    transform: scale(1.4);
  }
  &.-hidden:before {
    transform: scale(0);
  }
  &.-text {
    .mf-cursor-text {
      opacity: 1;
      transform: scale(1);
    }
  }
  &.-icon {
    .mf-cursor-text {
      opacity: 1;
      transform: scale(1);
    }
  }
  &.-media {
    .mf-cursor-media-box {
      opacity: 1;
      transform: scale(0.696);
      transition-delay: 0s, 0s;
      transition-duration: 0.4s, 0.4s;
    }
  }
}
@supports (mix-blend-mode: exclusion) {
  .mf-cursor {
    &.-exclusion {
      mix-blend-mode: exclusion;
    }
    &.-exclusion:before {
      background: #fff;
    }
  }
}
.mf-cursor-text {
  align-items: center;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background: rgba(var(--rgb--6), 0.8);
  border-radius: 100%;
  color: #fff;
  display: flex;
  font-family: var(--family--2);
  font-size: 0.875rem;
  height: 100px;
  justify-content: center;
  left: -50px;
  letter-spacing: 0.1em;
  line-height: 1em;
  opacity: 0;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: -50px;
  transform: scale(0) rotate(10deg);
  transition: opacity 0.4s, transform 0.3s;
  width: 100px;
}
.mf-cursor-media {
  height: 400px;
  margin: -200px 0 0 -200px;
  position: absolute;
  width: 400px;
  img,
  video {
    border-radius: 50%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    @supports ((-o-object-fit: cover) or (object-fit: cover)) {
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      position: static;
      transform: translateZ(0);
      width: 100%;
    }
  }
}
.mf-cursor-media-box {
  border-radius: 50%;
  height: 100%;
  opacity: 0;
  overflow: hidden;
  padding: 1px;
  position: relative;
  transform: scale(0) translateZ(0);
  transition: transform 0.35s, opacity 0.2s 0.2s;
  width: 100%;
}
:root {
  --color--1: #93897b;
  --color--2: #fafafa;
  --color--3: #d5d1c8;
  --color--4: #301911;
  --color--5: #7c2023;
  --color--6: #675845;
  --color--7: #f0efed;
  --color--8: #706250;
  --color--9: #efeeeb;
  --rgb--1: 147, 137, 123;
  --rgb--2: 250, 250, 250;
  --rgb--3: 213, 209, 200;
  --rgb--4: 48, 25, 17;
  --rgb--5: 124, 32, 35;
  --rgb--6: 103, 88, 69;
  --rgb--7: 240, 239, 237;
  --rgb--8: 112, 98, 80;
  --rgb--9: 239, 238, 235;
  --transition-duration: 0.3s;
  --transition-easing: ease;
  --outline-color: rgba(var(--rgb--1), 0.25);
  --outline-style: solid;
  --outline-width: 4px;
  --outline-offset: 4px;
  --outline-transition-duration: 0.15s;
  --family--1: "freight-big-pro", Iowan Old Style, Apple Garamond, Baskerville,
    Times New Roman, Droid Serif, Times, Source Serif Pro, serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --family--2: "Inter", -apple-system, BlinkMacSystemFont, avenir next, avenir,
    segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
  --container-max-width-1: 1540px;
  --container-max-width-2: 1290px;
  --container-max-width-3: 1020px;
  --container-max-width-4: 1620px;
  --container-padding-lg: 40px;
  --container-padding-sm: 4.5vw;
  --container-padding: var(--container-padding-sm);
  @media (min-width: 1025px) {
    --container-padding: var(--container-padding-lg);
  }
  --base--background-color: #fafafa;
  --base--text-color: #301911;
  --base--font-family: var(--family--2);
  --base--font-size: 16px;
  --base--font-weight: 400;
  --base--line-height: 1em;
  --swup-overlay-theme-color: var(--color--4);
  --swup-overlay-theme-duration: 1s;
  --swup-overlay-theme-delay: 0.1s;
  --swup-overlay-theme-scale: 1.2;
  --swup-overlay-theme-skew: 3deg;
  --cw: 100vw;
  --vh: 1vh;
  --vw: 1vw;
  --grid-column-count: 12;
  --grid-gap: calc(var(--container-padding) / 2);
  .scroller {
    --scroller-background-padding-x: 0px;
    --scroller-background-padding-y: 0px;
    --scroller-border-radius: 0px;
    --scroller-height: 100vh;
    --scroller-thumb-border-radius: 0px;
    --scroller-thumb-color: var(--color--1);
    --scroller-thumb-color-hover: var(--color--4);
    --scroller-track-border-radius: 0px;
    --scroller-track-color: #fff;
    --scroller-width: 6px;
    --scroller-z-index: 102;
    .scroller_arrow {
      display: none;
    }
  }
  @media (min-width: 1025px) {
    --grid-gap: var(--container-padding);
  }
  --grid-overlay-color: hsla(0, 59%, 77%, 0.231);
  --grid-overlay-columns: var(--grid-column-count);
  --grid-overlay-gutter: var(--grid-gap);
  --grid-overlay-width: var(--container-max-width-1);
  --grid-overlay-zindex: 100;
  --col-1: calc(
    100% / var(--grid-column-count) - var(--grid-gap) + var(--grid-gap) * 1 /
      var(--grid-column-count)
  );
  --col-2: calc(
    200% / var(--grid-column-count) - var(--grid-gap) + var(--grid-gap) * 2 /
      var(--grid-column-count)
  );
  --col-3: calc(
    300% / var(--grid-column-count) - var(--grid-gap) + var(--grid-gap) * 3 /
      var(--grid-column-count)
  );
  --col-4: calc(
    400% / var(--grid-column-count) - var(--grid-gap) + var(--grid-gap) * 4 /
      var(--grid-column-count)
  );
  --col-5: calc(
    500% / var(--grid-column-count) - var(--grid-gap) + var(--grid-gap) * 5 /
      var(--grid-column-count)
  );
  --col-6: calc(
    600% / var(--grid-column-count) - var(--grid-gap) + var(--grid-gap) * 6 /
      var(--grid-column-count)
  );
  --col-7: calc(
    700% / var(--grid-column-count) - var(--grid-gap) + var(--grid-gap) * 7 /
      var(--grid-column-count)
  );
  --col-8: calc(
    800% / var(--grid-column-count) - var(--grid-gap) + var(--grid-gap) * 8 /
      var(--grid-column-count)
  );
  --col-9: calc(
    900% / var(--grid-column-count) - var(--grid-gap) + var(--grid-gap) * 9 /
      var(--grid-column-count)
  );
  --col-10: calc(
    1000% / var(--grid-column-count) - var(--grid-gap) + var(--grid-gap) * 10 /
      var(--grid-column-count)
  );
  --col-11: calc(
    1100% / var(--grid-column-count) - var(--grid-gap) + var(--grid-gap) * 11 /
      var(--grid-column-count)
  );
  --col-12: calc(
    1200% / var(--grid-column-count) - var(--grid-gap) + var(--grid-gap) * 12 /
      var(--grid-column-count)
  );
}
body,
html {
  background: #fafafa;
  background: var(--base--background-color, #fafafa);
  color: #301911;
  color: var(--base--text-color, #301911);
  font-family: Inter, -apple-system, BlinkMacSystemFont, avenir next, avenir,
    segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
  font-family: var(--base--font-family);
  font-size: 1rem;
  font-size: var(--base--font-size, 16px);
  font-weight: 400;
  font-weight: var(--base--font-weight);
  line-height: 1em;
  line-height: var(--base--line-height, 100%);
  max-width: 100%;
  min-height: 100vh;
  overflow-x: clip;
  width: 100%;
  font-smooth: always;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  touch-action: pan-y;
}
html {
  min-height: 100%;
  scroll-behavior: auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  @media (prefers-reduced-motion: no-preference) {
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  @media (prefers-reduced-motion: reduce) {
    *,
    :after,
    :before {
      transition: none !important;
    }
  }
}
main[data-load-container] {
  container-name: main;
  container-type: inline-size;
  --cw: 100vw;
  width: 100%;
  @supports (-webkit-touch-callout: none) {
    min-height: -webkit-fill-available;
  }
}
.wp-site-blocks {
  :where(
      :not(html):not(iframe):not(canvas):not(img):not(svg):not(video):not(
          audio
        ):not(svg *):not(symbol *)
    ) {
    all: unset;
    display: revert;
    margin: 0;
  }
  *,
  :after,
  :before {
    box-sizing: border-box;
  }
}
.acf-block-preview,
.wp-site-blocks {
  .u-container {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .wp-block,
  .wp-block-group {
    --width: var(--container-max-width-1);
    margin-bottom: 0;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 0;
    max-width: 1540px;
    max-width: var(--width);
    padding: initial;
    width: 100%;
    &.u-container--pad {
      @media (min-width: 1025px) {
        max-width: calc(var(--width) + 80px);
        max-width: calc(var(--width) + var(--spacing-lg, 40px) * 2);
      }
    }
  }
}
.alignwide {
  --width: var(--container-max-width-2);
  margin-left: auto;
  margin-right: auto;
  max-width: 1290px;
  max-width: var(--width);
}
.alignfull {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  width: 100%;
  &:not(.u-container--pad) {
    padding-left: 0;
    padding-right: 0;
  }
}
:root :where(.is-layout-constrained) > *,
:root :where(.is-layout-flow) > * {
  margin-bottom: 0;
  margin-top: 0;
}
.wp-block[data-type^="acf/"] {
  max-width: none !important;
}
.u-absolute-anchor,
.u-absolute-fill {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.u-absolute-anchor {
  color: transparent;
  font-size: 0;
  text-indent: -999px;
}
.u-btn--1,
.u-disable-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  outline: none;
}
.u-btn--1,
.u-disable-button {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.u-btn--1 {
  cursor: pointer;
  display: inline-flex;
  justify-content: flex-start;
  padding: 0;
  position: relative;
  text-align: left;
  width: -moz-fit-content;
  width: fit-content;
}
.u-btn--1 {
  --arrow-icon: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='8' fill='none' viewBox='0 0 21 8'%3E%3Cpath fill='%23FAFAFA' d='M20.854 4.354a.5.5 0 0 0 0-.708L17.672.464a.5.5 0 1 0-.707.708L19.793 4l-2.828 2.828a.5.5 0 1 0 .707.708zM.5 4v.5h20v-1H.5z'/%3E%3C/svg%3E");
  --arrow-icon-hover: var(--arrow-icon);
  --background-color: var(--color--5);
  --background-color-hover: var(--color--4);
  --border-color: var(--background-color);
  --border-color-hover: var(--background-color-hover);
  --height: 34px;
  --text-color: var(--color--2);
  --text-color-hover: var(--text-color);
  --transition-duration: 0.3s;
  --transition-easing: ease;
  --width: auto;
  align-items: center;
  background: #7c2023;
  background: var(--background-color);
  border: 1px solid #7c2023;
  border: 1px solid var(--border-color);
  border-radius: 50px;
  height: 34px;
  height: var(--height);
  overflow: visible;
  padding: 12px 18px;
  transition-duration: 0.3s, 0.3s, 0.15s;
  transition-duration: var(--transition-duration), var(--transition-duration),
    var(--outline-transition-duration);
  transition-property: background-color, border-color, opacity;
  transition-timing-function: ease;
  transition-timing-function: var(--transition-easing);
  width: auto;
  width: var(--width);
  .btn_label {
    align-items: center;
    color: var(--text-color);
    -moz-column-gap: 0.4em;
    column-gap: 0.4em;
    display: inline-flex;
    font-family: Inter, -apple-system, BlinkMacSystemFont, avenir next, avenir,
      segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto,
      arial, sans-serif;
    font-family: var(--family--2);
    font-size: 0.875rem;
    font-weight: 400;
    font-weight: var(--base--font-weight);
    letter-spacing: 0.05em;
    line-height: 1em;
    padding-left: 0;
    padding-right: 30px;
    position: relative;
    text-transform: uppercase;
    transition-duration: 0.3s;
    transition-duration: var(--transition-duration);
    transition-property: color, padding;
    transition-timing-function: ease;
    transition-timing-function: var(--transition-easing);
    &:after,
    &:before {
      background-color: transparent;
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: 20px 8px;
      bottom: 0;
      content: "";
      display: inline-flex;
      height: 8px;
      margin-bottom: auto;
      margin-top: auto;
      position: absolute;
      top: 0;
      transition-duration: 0.3s;
      transition-duration: var(--transition-duration);
      transition-property: transform;
      transition-timing-function: ease;
      transition-timing-function: var(--transition-easing);
      width: 21px;
    }
    &:before {
      background-image: var(--arrow-icon-hover);
      left: 0;
      transform: scale(0);
      transform-origin: left;
    }
    &:after {
      background-image: var(--arrow-icon);
      right: 0;
      transform: scale(1);
      transform-origin: right;
    }
  }
  &.-preset--1 {
    --height: 54px;
    --width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    .btn_label {
      display: flex;
      justify-content: center;
      padding-left: 30px;
      width: 100%;
    }
  }
  &.-outline {
    --arrow-icon: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='8' fill='none' viewBox='0 0 21 8'%3E%3Cpath fill='%23301911' d='M20.854 4.354a.5.5 0 0 0 0-.708L17.672.464a.5.5 0 1 0-.707.708L19.793 4l-2.828 2.828a.5.5 0 1 0 .707.708zM.5 4v.5h20v-1H.5z'/%3E%3C/svg%3E");
    --arrow-icon-hover: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='8' fill='none' viewBox='0 0 21 8'%3E%3Cpath fill='%23FAFAFA' d='M20.854 4.354a.5.5 0 0 0 0-.708L17.672.464a.5.5 0 1 0-.707.708L19.793 4l-2.828 2.828a.5.5 0 1 0 .707.708zM.5 4v.5h20v-1H.5z'/%3E%3C/svg%3E");
    --background-color: transparent;
    --border-color: var(--color--4);
    --border-color-hover: var(--color--4);
    --text-color: var(--color--4);
    --text-color-hover: var(--color--2);
  }
  @media (hover: hover) and (pointer: fine) {
    &:focus-visible,
    &:hover {
      background-color: var(--background-color-hover);
      border-color: var(--border-color-hover);
      .btn_label {
        color: var(--text-color-hover);
        padding-left: 30px;
        padding-right: 0;
        &:before {
          transform: scale(1);
        }
        &:after {
          transform: scale(0);
        }
      }
      &.-preset--1 .btn_label {
        padding-right: 30px;
      }
    }
  }
}
.u-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.u-container--pad {
  padding-left: 4.5vw;
  padding-left: var(--container-padding, 40px);
  padding-right: 4.5vw;
  padding-right: var(--container-padding, 40px);
}
.u-container--1 {
  --width: var(--container-max-width-1);
  max-width: 1540px;
  max-width: var(--container-max-width-1);
  &.u-container--pad {
    @container (min-width: 1025px) {
      max-width: calc(var(--width) + 9vw);
      max-width: calc(var(--width) + var(--container-padding, 40px) * 2);
    }
  }
}
.u-container--2 {
  --width: var(--container-max-width-2);
  max-width: 1290px;
  max-width: var(--container-max-width-2);
  &.u-container--pad {
    @container (min-width: 1025px) {
      max-width: calc(var(--width) + 9vw);
      max-width: calc(var(--width) + var(--container-padding, 40px) * 2);
    }
  }
}
.u-container--3 {
  --width: var(--container-max-width-3);
  max-width: 1020px;
  max-width: var(--container-max-width-3);
  &.u-container--pad {
    @container (min-width: 1025px) {
      max-width: calc(var(--width) + 9vw);
      max-width: calc(var(--width) + var(--container-padding, 40px) * 2);
    }
  }
}
.u-container--4 {
  --width: var(--container-max-width-4);
  max-width: 1620px;
  max-width: var(--container-max-width-4);
  &.u-container--pad {
    @container (min-width: 1025px) {
      max-width: calc(var(--width) + 9vw);
      max-width: calc(var(--width) + var(--container-padding, 40px) * 2);
    }
  }
}
.u-cover-bg {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.u-cover-object {
  height: 100%;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  position: absolute;
  top: 0;
  width: 100%;
}
.u-default {
  --block-background-color: var(--base--background-color);
  --block-text-color: var(--base--text-color);
  --block-accent-color: var(--color--1);
  background-color: #fafafa;
  background-color: var(--block-background-color);
  color: #301911;
  color: var(--block-text-color);
  display: block;
  font-size: 0;
  height: auto;
  overflow: clip;
  position: relative;
  width: 100%;
  z-index: 1;
  .u-wysiwyg-text--1 {
    --bold-text-color: var(--block-accent-color);
  }
  &.-bg-color--fafafa {
    --block-background-color: var(--color--2);
  }
  &.-bg-color--301911,
  &.-bg-color--7c2023,
  &.-bg-color--93897b {
    --block-text-color: var(--color--2);
  }
  &.-bg-color--d5d1c8 {
    --block-background-color: var(--color--3);
  }
  &.-bg-color--301911 {
    --block-background-color: var(--color--4);
  }
  &.-bg-color--93897b {
    --block-background-color: var(--color--1);
    --block-accent-color: var(--color--3);
  }
  &.-bg-color--7c2023 {
    --block-background-color: var(--color--5);
    --block-accent-color: var(--color--3);
  }
  &.-bg-color--f0efed {
    --block-background-color: var(--color--7);
  }
  &:not(.is-preview):not(.has-css-loaded) {
    clip-path: inset(100% 0 0 0);
    opacity: 0;
    visibility: hidden;
  }
}
.u-ff--1 {
  font-family: freight-big-pro, Iowan Old Style, Apple Garamond, Baskerville,
    Times New Roman, Droid Serif, Times, Source Serif Pro, serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-family: var(--family--1);
}
.u-ff--2 {
  font-family: Inter, -apple-system, BlinkMacSystemFont, avenir next, avenir,
    segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
  font-family: var(--family--2);
}
.u-fsz--1 {
  font-size: max(1rem, min(calc(0.9125rem + 0.33333vw), 1.25rem));
  font-size: max(
    1rem,
    min(calc(1rem + (var(--cw) - 26.25rem) / 1200 * 4), 1.25rem)
  );
  font-range: 420px 1920px;
}
.u-fstyle--1 {
  --blob-color: var(--color--1);
  --blob-size: 0.5em;
  --color: var(--color--7);
  --gap: 0.6em;
  align-items: flex-start;
  color: #f0efed;
  color: var(--color);
  display: inline-flex;
  font-family: var(--family--3);
  font-size: max(0.6875rem, min(calc(0.64375rem + 0.16667vw), 0.8125rem));
  font-size: max(
    0.6875rem,
    min(calc(0.6875rem + (var(--cw) - 26.25rem) / 1200 * 2), 0.8125rem)
  );
  justify-content: flex-start;
  letter-spacing: 0.03em;
  line-height: 1em;
  text-transform: uppercase;
  width: -moz-fit-content;
  width: fit-content;
}
.u-fstyle--1:before {
  background: var(--blob-color);
  border-radius: 2px;
  content: "";
  display: inline-flex;
  height: var(--blob-size);
  margin-right: var(--gap);
  margin-top: 0.25em;
  min-height: var(--blob-size);
  min-width: var(--blob-size);
  width: var(--blob-size);
}
.u-wysiwyg-text--1 {
  --bold-text-color: var(--block-text-color);
  b,
  strong {
    color: var(--bold-text-color);
    font-weight: 400;
  }
  s {
    -webkit-text-decoration: line-through;
    text-decoration: line-through;
  }
  u {
    -webkit-text-decoration: underline;
    text-decoration: underline;
  }
}
.u-wysiwyg-text--2 {
  --underline-offset: 0.25em;
  p {
    display: block;
  }
  em,
  i {
    font-style: italic;
  }
  a {
    color: #93897b;
    color: var(--color--1);
    -webkit-text-decoration: none;
    text-decoration: none;
    text-underline-offset: 0.25em;
    text-underline-offset: var(--underline-offset, 0.25em);
    @media (hover) {
      &:hover {
        -webkit-text-decoration: underline;
        text-decoration: underline;
      }
    }
  }
  hr {
    background-color: #93897b;
    background-color: var(--color--1);
    border: 0;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  blockquote {
    border-left: 1px solid #93897b;
    border-left: 1px solid var(--color--1);
    margin-bottom: 30px;
    padding-left: 28px;
  }
  code,
  pre {
    background: rgba(52, 67, 72, 0.2);
    border-radius: 3px;
    font-family: Inter, -apple-system, BlinkMacSystemFont, avenir next, avenir,
      segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto,
      arial, sans-serif;
    font-family: var(--family--2);
    padding: 0.25em 0.4em;
    white-space: normal;
  }
}
.u-wysiwyg-headings--1 {
  --headings-weight: 400;
  --headings-bold-weight: 600;
  --headings-wrap: balance;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: block;
    font-weight: 400;
    font-weight: var(--headings-weight, 400);
    text-wrap: pretty;
    b,
    strong {
      font-weight: 600;
      font-weight: var(--headings-bold-weight, 600);
    }
  }
}
.u-wysiwyg-lists--1 {
  ol.wp-block-list,
  ul.wp-block-list {
    --list-blob-color: var(--base--text-color);
    --list-indent: 0.425em;
    --list-pad: 20px;
    --list-gap: 16px;
    --list-ul-marker: "\2022";
    counter-reset: list-item 0;
    display: grid;
    grid-gap: 16px;
    grid-gap: var(--list-gap, 1em);
    list-style-type: none;
    margin-left: 0.425em;
    margin-left: var(--list-indent, 0);
    padding: 0;
    li {
      padding-left: 1em;
      padding-left: var(--list-pad, 1em);
      position: relative;
      &:before {
        color: var(--list-blob-color);
        left: 0;
        position: absolute;
        white-space: pre;
      }
    }
    ol,
    ul {
      margin-top: 0;
      margin-top: var(--list-gap, 0);
    }
  }
  ul.wp-block-list li:before {
    background: transparent;
    content: var(--list-ul-marker);
    height: auto;
    margin-top: 0;
    width: auto;
  }
  ol.wp-block-list {
    counter-reset: list-item 0;
    display: grid;
    grid-gap: 1em;
    grid-gap: var(--list-gap, 1em);
    list-style-type: none;
    padding: 0;
    li {
      padding-left: 1em;
      padding-left: var(--list-pad, 1em);
      position: relative;
      &:before {
        content: counter(list-item) ".";
        left: 0;
        position: absolute;
        white-space: pre;
      }
    }
  }
  ol.wp-block-list > li {
    counter-increment: list-item;
    &:before {
      content: counter(list-item) ".";
      left: 0;
      position: absolute;
    }
  }
}
.u-wysiwyg-font-sizes--1 {
  :not(.c-responsive-text) {
    h2 {
      font-size: max(1.625rem, min(calc(1.40625rem + 0.83333vw), 2.25rem));
      font-size: max(
        1.625rem,
        min(calc(1.625rem + (var(--cw) - 26.25rem) / 1200 * 10), 2.25rem)
      );
    }
    h2,
    h3 {
      line-height: 1.2em;
    }
    h3 {
      font-size: max(1.5rem, min(calc(1.325rem + 0.66667vw), 2rem));
      font-size: max(
        1.5rem,
        min(calc(1.5rem + (var(--cw) - 26.25rem) / 1200 * 8), 2rem)
      );
    }
    h4 {
      font-size: max(1.375rem, min(calc(1.24375rem + 0.5vw), 1.75rem));
      font-size: max(
        1.375rem,
        min(calc(1.375rem + (var(--cw) - 26.25rem) / 1200 * 6), 1.75rem)
      );
    }
    h4,
    h5 {
      line-height: 1.2em;
    }
    h5 {
      font-size: max(1.25rem, min(calc(1.1625rem + 0.33333vw), 1.5rem));
      font-size: max(
        1.25rem,
        min(calc(1.25rem + (var(--cw) - 26.25rem) / 1200 * 4), 1.5rem)
      );
    }
    h6 {
      font-size: max(1.1875rem, min(calc(1.14375rem + 0.16667vw), 1.3125rem));
      font-size: max(
        1.1875rem,
        min(calc(1.1875rem + (var(--cw) - 26.25rem) / 1200 * 2), 1.3125rem)
      );
      line-height: 1.2em;
    }
    blockquote,
    code,
    ol.wp-block-list,
    p,
    pre,
    ul.wp-block-list {
      font-size: max(1.0625rem, min(calc(1.01875rem + 0.16667vw), 1.1875rem));
      font-size: max(
        1.0625rem,
        min(calc(1.0625rem + (var(--cw) - 26.25rem) / 1200 * 2), 1.1875rem)
      );
      line-height: 1.35em;
    }
  }
}
.u-visible {
  opacity: 1 !important;
  visibility: visible !important;
}
.u-invisible {
  opacity: 0 !important;
  visibility: hidden !important;
}
.u-screen-reader {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
.u-hidden {
  display: none !important;
  visibility: hidden !important;
}
.e-media {
  overflow: hidden;
  position: relative;
  .background-overlay {
    z-index: 1;
  }
  img,
  picture,
  video {
    z-index: 0;
  }
}
.e-post-thumb {
  align-items: stretch;
  background-color: #fff;
  border-radius: 12px;
  color: #d5d1c8;
  color: var(--color--3);
  display: inline-flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  max-width: calc(100% - 2.25vw);
  max-width: calc(100% - var(--grid-gap));
  opacity: 1;
  outline: 0 solid hsla(0, 0%, 100%, 0.3);
  padding: 16px;
  row-gap: 20px;
  transition-duration: 0.3s, 0.15s !important;
  transition-duration: var(--transition-duration),
    var(--outline-transition-duration) !important;
  transition-property: opacity, outline-width !important;
  transition-timing-function: ease !important;
  transition-timing-function: var(--transition-easing) !important;
  width: 100%;
  &.swiper-slide {
    display: inline-flex !important;
    height: auto !important;
  }
  &:focus-visible {
    outline-width: 6px;
  }
  .item_image {
    aspect-ratio: 460/200;
    background-color: #eee;
    border-radius: 8px;
    color: transparent;
    font-size: 0;
    height: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  .item_meta {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    width: 100%;
  }
  .meta_type {
    font-family: var(--family--3);
    font-size: 0.875rem;
    padding-left: 20px;
    position: relative;
    text-transform: uppercase;
    &:before {
      background: #93897b;
      background: var(--color--1);
      bottom: 0;
      content: "";
      height: 8px;
      left: 0;
      margin-bottom: auto;
      margin-top: auto;
      position: absolute;
      top: 0;
      width: 8px;
    }
  }
  .meta_date {
    color: hsla(42, 13%, 81%, 0.6);
    color: rgba(var(--rgb--3), 0.6);
    font-family: var(--family--3);
    font-size: max(0.9375rem, min(calc(0.87188rem + 0.25vw), 1.125rem));
    font-size: max(
      0.9375rem,
      min(calc(0.9375rem + (var(--cw) - 26.25rem) / 1200 * 3), 1.125rem)
    );
    line-height: 1em;
    text-transform: uppercase;
  }
  .item_title {
    color: #d5d1c8;
    color: var(--color--3);
    flex: 1 1 auto;
    font-size: max(1.0625rem, min(calc(1.01875rem + 0.16667vw), 1.1875rem));
    font-size: max(
      1.0625rem,
      min(calc(1.0625rem + (var(--cw) - 26.25rem) / 1200 * 2), 1.1875rem)
    );
    line-height: 1.2em;
    min-height: 120px;
    transition: color 0.3s ease;
    transition: color var(--transition-duration) var(--transition-easing);
  }
  .item_foot {
    align-items: flex-end;
    -moz-column-gap: 8px;
    column-gap: 8px;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    width: 100%;
    .foot_tags {
      align-items: flex-end;
      display: inline-flex;
      flex: 1 1 auto;
      flex-wrap: wrap;
      gap: 4px;
      justify-items: flex-start;
    }
    .tags_item {
      align-items: center;
      background: #301911;
      background: var(--color--4);
      border-radius: 4px;
      color: #d5d1c8;
      color: var(--color--3);
      display: inline-flex;
      font-family: var(--family--3);
      font-size: 0.875rem;
      line-height: 1em;
      min-height: 28px;
      padding: 4px 8px;
      text-transform: uppercase;
      transition: background-color 0.3s ease;
      transition: background-color var(--transition-duration)
        var(--transition-easing);
    }
    .foot_btn {
      --icon: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='10' fill='none' viewBox='0 0 11 10'%3E%3Cpath fill='%23fff' fill-rule='evenodd' d='M1.724.125a.75.75 0 0 0 0 1.5h6.442L1.198 8.594a.75.75 0 0 0 1.06 1.06L9.224 2.69v6.436a.75.75 0 0 0 1.5 0V.95a.75.75 0 0 0-.775-.826H1.724Z' clip-rule='evenodd'/%3E%3C/svg%3E");
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      aspect-ratio: 1;
      background-color: #93897b;
      background-color: var(--color--1);
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='10' fill='none' viewBox='0 0 11 10'%3E%3Cpath fill='%23fff' fill-rule='evenodd' d='M1.724.125a.75.75 0 0 0 0 1.5h6.442L1.198 8.594a.75.75 0 0 0 1.06 1.06L9.224 2.69v6.436a.75.75 0 0 0 1.5 0V.95a.75.75 0 0 0-.775-.826H1.724Z' clip-rule='evenodd'/%3E%3C/svg%3E"),
        url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='10' fill='none' viewBox='0 0 11 10'%3E%3Cpath fill='%23fff' fill-rule='evenodd' d='M1.724.125a.75.75 0 0 0 0 1.5h6.442L1.198 8.594a.75.75 0 0 0 1.06 1.06L9.224 2.69v6.436a.75.75 0 0 0 1.5 0V.95a.75.75 0 0 0-.775-.826H1.724Z' clip-rule='evenodd'/%3E%3C/svg%3E");
      background-image: var(--icon), var(--icon);
      background-position: 50%, left -12px bottom -11px;
      background-repeat: no-repeat;
      border-radius: 8px;
      box-shadow: none;
      color: transparent;
      cursor: pointer;
      flex: 0 0 40px;
      font-size: 0;
      height: 40px;
      outline: none;
      transform: scale(1);
      transform-origin: center;
      transition-duration: 0.3s;
      transition-duration: var(--transition-duration);
      transition-property: background-color, background-position, border-radius,
        transform;
      transition-timing-function: ease;
      transition-timing-function: var(--transition-easing);
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
      width: 40px;
      z-index: 1;
    }
  }
  @media (min-width: 1025px) and (hover: hover) {
    &:focus-visible,
    &:hover {
      .item_title {
        color: #93897b;
        color: var(--color--1);
      }
      .item_foot .tags_item {
        background-color: #dbe0f7 !important;
      }
      .item_foot .foot_btn {
        background-color: #93897b;
        background-color: var(--color--1);
        background-position: top -11px right -12px, 50%;
        border-radius: 6px;
        transform: scale(1.075);
      }
    }
  }
}
