.c-footer[data-cid] {
  background-color: var(--color--3);
  padding-bottom: 40px;
  padding-top: 40px;
  text-transform: uppercase;
  z-index: 0;
  .block_inner {
    display: grid;
    grid-gap: 0;
    gap: 0;
    grid-template-areas: "logo logo" "nav contact" "logos logos" "equal-housing equal-housing" "copyright copyright" "credits credits";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
  .column {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .label {
    margin-bottom: 15px;
  }
  .logo {
    grid-area: logo;
    margin-bottom: 40px;
  }
  .logo,
  .nav {
    align-items: flex-start;
  }
  .nav {
    font-size: max(
      0.8125rem,
      min(calc(0.8125rem + (var(--cw) - 26.25rem) / 1200 * 2), 0.9375rem)
    );
    grid-area: nav;
    line-height: 1.2em;
  }
  .nav_menu {
    border-left: 1px solid var(--color--1);
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding-left: 10px;
    .item_btn,
    .menu_item {
      display: inline-flex;
    }
    .item_btn {
      transition-duration: var(--transition-duration);
      transition-property: color, opacity;
      transition-timing-function: var(--transition-easing);
      width: -moz-max-content;
      width: max-content;
    }
    @media (hover: hover) and (pointer: fine) {
      &:has(.item_btn:hover) .item_btn:not(:hover) {
        opacity: 0.3;
      }
      .item_btn:hover {
        color: var(--color--5);
        opacity: 1;
      }
    }
  }
  .contact {
    align-items: flex-start;
    grid-area: contact;
  }
  .contact,
  .contact_info {
    font-size: max(
      0.8125rem,
      min(calc(0.8125rem + (var(--cw) - 26.25rem) / 1200 * 2), 0.9375rem)
    );
    line-height: 1.2em;
  }
  .contact_info {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .info_links {
    display: flex;
    flex-direction: column;
    gap: 2px;
    a[href] {
      transition-duration: var(--transition-duration);
      transition-property: color, opacity;
      transition-timing-function: var(--transition-easing);
    }
    @media (hover: hover) and (pointer: fine) {
      &:has(a[href]:hover) a[href]:not(:hover) {
        opacity: 0.3;
      }
      a[href]:hover {
        color: var(--color--5);
        opacity: 1;
      }
    }
  }
  .scroll-top {
    align-items: flex-start;
    grid-area: scroll-top;
    justify-content: flex-end;
    text-align: right;
  }
  .equal-housing {
    align-items: flex-start;
    font-size: 0.75rem;
    grid-area: equal-housing;
    line-height: 1.2em;
    white-space: nowrap;
  }
  .credits {
    align-items: center;
    flex-direction: row;
    font-size: 0.75rem;
    grid-area: credits;
    justify-content: flex-start;
    line-height: 1.2em;
    text-align: center;
    a {
      position: relative;
      &:after {
        background-color: var(--color--4);
        bottom: -1px;
        content: "";
        height: 1px;
        left: 0;
        position: absolute;
        right: 0;
        width: 100%;
      }
    }
  }
  .logos {
    align-items: center;
    -moz-column-gap: 30px;
    column-gap: 30px;
    display: flex;
    flex-direction: row;
    grid-area: logos;
    justify-content: flex-start;
    margin-bottom: 40px;
    margin-top: 40px;
    text-align: right;
    .logos_img {
      display: inline-flex;
      max-height: 38px;
      max-width: 100px;
    }
  }
  .copyright {
    align-items: flex-start;
    font-size: 0.75rem;
    grid-area: copyright;
    justify-content: flex-end;
    line-height: 1.2em;
  }
  .scroll-top {
    bottom: 40px;
    position: absolute;
    right: var(--container-padding);
  }
  .scroll-top_btn {
    background-color: transparent;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='21' fill='none' viewBox='0 0 8 21'%3E%3Cpath fill='%23000' d='M4.354.646a.5.5 0 0 0-.708 0L.464 3.828a.5.5 0 1 0 .708.708L4 1.707l2.828 2.829a.5.5 0 1 0 .708-.708zM4 21h.5V1h-1v20z'/%3E%3C/svg%3E");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 8px 21px;
    border: 1px solid var(--color--1);
    border-radius: 50%;
    cursor: pointer;
    display: inline-flex;
    height: 50px;
    transition-duration: var(--transition-duration);
    transition-property: background-color, background-image;
    transition-timing-function: var(--transition-easing);
    width: 50px;
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: var(--color--1);
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='21' fill='none' viewBox='0 0 8 21'%3E%3Cpath fill='%23fff' d='M4.354.646a.5.5 0 0 0-.708 0L.464 3.828a.5.5 0 1 0 .708.708L4 1.707l2.828 2.829a.5.5 0 1 0 .708-.708zM4 21h.5V1h-1v20z'/%3E%3C/svg%3E");
      }
    }
  }
  @container main (min-width: 1025px) {
    filter: brightness(0.5);
    .block_inner {
      grid-gap: 330px var(--grid-gap);
      grid-template-areas: "logo nav contact scroll-top" "copyright equal-housing credits logos";
      grid-template-columns: var(--col-6) repeat(3, var(--col-2));
      grid-template-rows: repeat(2, auto);
    }
    .column {
      align-items: flex-start;
      &:not(.nav):not(.contact) {
        flex-direction: row;
      }
    }
    .label {
      margin-bottom: 25px;
    }
    .logo {
      margin-bottom: 0;
    }
    .contact,
    .logo {
      align-items: flex-start;
    }
    .credits,
    .equal-housing {
      align-items: flex-end;
    }
    .credits {
      justify-content: flex-start;
    }
    .logos {
      justify-content: flex-end;
      margin-bottom: 0;
      margin-top: 0;
    }
    .copyright,
    .logos {
      align-items: flex-end;
    }
    .copyright {
      justify-content: flex-start;
    }
    .scroll-top {
      align-items: flex-start;
      bottom: auto;
      justify-content: flex-end;
      left: auto;
      position: relative;
      right: auto;
      top: auto;
    }
  }
  @container main (min-width: 1025px) and (max-width: 1281px) {
    .block_inner {
      grid-template-columns: var(--col-4) repeat(3, 1fr);
    }
  }
}
