.c-headlines[data-cid] {
  text-align: center;
  .content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 560px;
    row-gap: 28px;
  }
  .heading {
    display: block;
    font-family: var(--family--1);
    font-size: max(
      2.625rem,
      min(calc(2.625rem + (var(--cw) - 48rem) / 852 * 170), 13.25rem)
    );
    font-weight: 300;
    letter-spacing: -0.02em;
    line-height: 0.9em !important;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    text-wrap: balance;
    .content {
      display: none;
      margin: -0.15em 20px auto;
      vertical-align: middle;
    }
  }
  .media {
    aspect-ratio: 370/200;
    display: none;
    max-width: 22.84%;
    overflow: hidden;
    position: relative;
    vertical-align: sub;
    width: 100%;
  }
  .block_inner > .content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 100%;
  }
  .text {
    font-family: var(--family--2);
    font-size: max(
      0.9375rem,
      min(calc(0.9375rem + (var(--cw) - 26.25rem) / 1200 * 3), 1.125rem)
    );
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.2em;
    text-transform: none;
    text-wrap: balance;
    p:not(:last-child) {
      margin-bottom: 1em;
    }
  }
  @container main (max-width: 1280px) {
    .heading em {
      display: none;
    }
  }
  @container main (min-width: 1281px) {
    .content {
      align-items: flex-start;
      max-width: 370px;
      text-align: left;
    }
    .media {
      display: inline-flex;
    }
    .block_inner > .content {
      margin-left: 0;
      margin-right: 0;
    }
    &:has(.heading .content) {
      .heading {
        line-height: 1em !important;
        .content {
          display: inline-flex;
        }
      }
      .block_inner > .content {
        display: none;
      }
    }
  }
}
