.c-montage-reveal[data-cid] {
  height: 400vh;
  overflow: visible;
  position: relative;
  .block_canvas {
    display: flex;
    height: calc(100vh - 90px);
    height: calc(var(--vh, 1vh) * 100 - 90px);
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    .canvas_center {
      align-items: center;
      background-color: #000;
      bottom: 0;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      left: 0;
      margin: auto;
      max-height: 70%;
      max-width: 100%;
      min-width: 100%;
      overflow: hidden;
      padding-left: var(--container-padding);
      padding-right: var(--container-padding);
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      z-index: 0;
      .center_content {
        align-items: center;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        opacity: 0;
        position: relative;
        row-gap: 0;
        text-align: center;
        transform: scale(1.2);
        z-index: 1;
      }
      .content_label {
        font-family: var(--family--2);
        font-size: 0.875rem;
        letter-spacing: 0.05em;
        line-height: 1em;
        margin-bottom: 50px;
        text-transform: uppercase;
      }
      .content_heading {
        font-family: var(--family--1);
        font-size: max(
          2.625rem,
          min(calc(2.625rem + (var(--cw) - 26.25rem) / 1200 * 78), 7.5rem)
        );
        font-weight: 300;
        letter-spacing: 0.01em;
        line-height: 0.8em;
        max-width: 600px;
        text-transform: uppercase;
        text-wrap: balance;
      }
      .content_text {
        font-size: max(
          0.9375rem,
          min(calc(0.9375rem + (var(--cw) - 26.25rem) / 1200 * 1), 1rem)
        );
        line-height: 1.2em;
        margin-top: 40px;
        max-width: 510px;
        text-transform: uppercase;
        text-wrap: balance;
        p:not(:last-child) {
          margin-bottom: 1em;
        }
      }
      .content_button {
        --background-color: transparent;
        --border-color: #fff;
        --height: 34px;
        --text-color: #fff;
        margin-top: 50px;
      }
      .center_image {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;
        img,
        picture {
          height: 100%;
          left: 0;
          -o-object-fit: cover;
          object-fit: cover;
          -o-object-position: center;
          object-position: center;
          opacity: 0.8;
          position: absolute;
          top: 0;
          width: 100%;
        }
      }
    }
    .canvas_side {
      display: grid;
      grid-gap: 20px;
      bottom: 0;
      grid-template-columns: repeat(2, 1fr);
      height: 70%;
      margin-bottom: auto;
      margin-top: auto;
      overflow: hidden;
      position: absolute;
      top: 0;
      width: calc(50% - 270px);
      z-index: 1;
      &[data-ref="left-side"] {
        grid-template-rows: 1fr 2fr;
        left: 0;
        .side_element:first-child {
          grid-area: 1/1/3/2;
        }
        .side_element:nth-child(2) {
          grid-area: 1/2;
        }
        .side_element:nth-child(3) {
          grid-area: 2/2;
        }
      }
      &[data-ref="right-side"] {
        grid-template-rows: 2fr 1fr;
        right: 0;
        .side_element:first-child {
          grid-area: 1/2/3/3;
        }
        .side_element:nth-child(2) {
          grid-area: 1/1;
        }
        .side_element:nth-child(3) {
          grid-area: 2/1;
        }
      }
    }
    .side_element {
      background-color: #fff;
      clip-path: inset(0);
      overflow: hidden;
      position: relative;
      width: 100%;
      img,
      picture {
        height: 100%;
        left: 0;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }
  }
  @container main (min-width: 1025px) {
    .block_canvas {
      .canvas_center {
        max-width: 500px;
        min-width: 500px;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}
