.c-center-text[data-cid] {
  text-align: center;
  .inner {
    align-items: center;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
  .heading {
    font-family: var(--family--1);
    font-size: max(
      2.625rem,
      min(calc(2.625rem + (var(--cw) - 26.25rem) / 1200 * 44), 5.375rem)
    );
    font-weight: 300;
    letter-spacing: -0.01em;
    line-height: 0.9em;
    text-transform: uppercase;
    text-wrap: balance;
  }
  .text {
    font-size: max(
      1rem,
      min(calc(1rem + (var(--cw) - 26.25rem) / 1200 * 3), 1.1875rem)
    );
    line-height: 1.4em;
    margin-left: auto;
    margin-right: auto;
    max-width: 540px !important;
    text-wrap: pretty;
    width: 100%;
  }
  .line {
    --line-color: var(--color--1);
    display: block;
    height: 120px;
    margin-left: 100%;
    margin-right: 100%;
    position: relative;
    width: 5px;
    &:after,
    &:before {
      background-color: var(--line-color);
      bottom: 0;
      content: "";
      display: block;
      left: 0;
      margin-left: auto;
      margin-right: auto;
      position: absolute;
      right: 0;
    }
    &:before {
      height: 100%;
      top: 0;
      width: 1px;
    }
    &:after {
      border-radius: 100%;
      height: 5px;
      width: 5px;
    }
  }
  &.-bg-color--7c2023 .line,
  &.-bg-color--93897b .line {
    --line-color: var(--color--3);
  }
  @container main (min-width: 1025px) {
    .inner {
      row-gap: 40px;
    }
  }
}
